.dashboard {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;
}
ul.stocks-list {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    flex-grow: 1;
}

footer.toolbar {
    padding: 15px 0;
    background-color:#f0f0f0;
    display: flex;
    justify-content: space-around;
}